{
    "ecmaFeatures": {
      "jsx": true,
    },
    "env": {
      "node": false,
      "browser": true,
      "es6": true,
    },
    "parser": "babel-eslint",
    "plugins": [
      "react"
    ],
    "extends": 'standard',
    "rules": {
      'semi': [2, 'always'],
      'no-extra-semi': 2,
      'semi-spacing': [2, { 'before': false, 'after': true }],
      'react/jsx-uses-vars': 1,
      "react/jsx-uses-react": 1,
    }
}