//Homepage


.largetop-col {
	position:absolute;
	width: 75%;
	padding-top: 50px
h1 {
	
	}

}

.smalltop-col {
	position:absolute;
	width: 25%;
	padding-top: 50px;
h1 {
	
	}
}

.left-col {
	position: absolute;
	width: 25%;
	padding-top: 20px;
}

.right-col {
	position: absolute;
	width: 75%;
	padding-top: 20px;
}

.box-small {
	float:left;
	height: 20px;
}

.box-med {
	float: left;
	height: 50px;
}

