/*----------------------------------------------*/
/*Variables*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*  Lato:300|Hind:700,400,600  */
/*----------------------------------------------*/
/*----------------------------------------------*/
/*Fixing Default CSS*/
/*----------------------------------------------*/
body, ul, li, ol, p {
  margin: 0px;
  padding: 0px;
  font-family: 'Hind', sans-serif;
  color: #606161;
  font-weight: 300;
  line-height: 1.4em; }

ul {
  list-style: none;
  margin-bottom: 0.5em; }

body {
  background-color: #3d3d3d; }

::-moz-selection {
  /* Code for Firefox */
  background: #f5eab3; }

::selection {
  background: #f5eab3; }

.centerme {
  text-align: center; }

.inline {
  display: inline-block; }

/*----------------------------------------------*/
/*Nav Bar Styling*/
/*----------------------------------------------*/
header {
  background-color: #303030;
  top: 0px;
  width: 100%;
  height: 52px;
  color: #dbdbda;
  display: inline-block;
  z-index: 9999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  header ul {
    display: inline-block; }
  header li {
    display: inline-block;
    margin: 0px;
    font-weight: 400; }

.navbar-background {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.nav-icon {
  padding-top: 6px;
  float: left;
  padding-left: 2em; }
  @media screen and (min-width: 1100px) {
    .nav-icon {
      padding-left: 0; } }

.nav-list {
  float: right;
  position: relative;
  display: inline-block; }
  @media screen and (max-width: 560px) {
    .nav-list {
      display: none; } }

.nav-input {
  float: right;
  display: inline-block;
  position: relative;
  bottom: 3px;
  padding: 0px 16px 0px 40px; }

.nav-item {
  padding: 0px 10px 0px 10px;
  color: white;
  font-family: 'Lato';
  font-size: 0.9em;
  letter-spacing: 0.935px;
  height: 52px;
  line-height: 52px;
  transition: color 0.2s;
  color: #dbdbda;
  cursor: pointer; }
  .nav-item:hover {
    color: #696966; }

.nav-links {
  float: center; }

.inner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em; }

.nav-dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  transition: opacity 0.3s;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 150px;
  z-index: 1;
  right: 0;
  text-align: right; }
  .dropdown-content :hover a {
    color: #696966;
    padding-left: 10px; }
  .dropdown-content .nav-item {
    background-color: #303030;
    border-bottom: 1px solid #565656;
    padding-left: 16px; }

.nav-dropdown:hover .dropdown-content {
  opacity: 1;
  height: auto; }

.nav-events {
  width: 180px; }

.resp-navbar {
  display: none;
  float: right;
  height: 52px;
  line-height: 52px;
  padding-left: 1em;
  width: 100px;
  cursor: pointer; }
  .resp-navbar p {
    color: #dbdbda;
    font-family: 'Lato';
    font-size: 1em;
    letter-spacing: 0.06em;
    margin-top: 15px;
    font-weight: 400;
    padding-left: 2px; }
    .resp-navbar p:before {
      content: "";
      background: url("../graphics/menubox.svg");
      display: block;
      width: 16px;
      height: 16px;
      float: left;
      margin: 3px 0px 0 14px; }
  .resp-navbar:hover {
    background-color: #4a4a4a;
    color: white; }
  @media screen and (max-width: 560px) {
    .resp-navbar {
      display: block; } }

.resp-dropdown-content {
  transition: opacity 0.1s;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #4a4a4a;
  width: 100%;
  z-index: 9999;
  top: 52px;
  left: 0px; }
  .resp-dropdown-content a {
    display: block; }
  .resp-dropdown-content :hover {
    background-color: #383838; }
  .resp-dropdown-content .nav-item {
    border-top: 1px solid #565656;
    width: 100%; }

.resp-nav-dropdown {
  display: inline-block;
  text-align: center; }
  @media screen and (min-width: 560px) {
    .resp-nav-dropdown {
      display: none; } }

.resp-nav-dropdown:hover .resp-dropdown-content {
  opacity: 1;
  height: auto; }

/*----------------------------------------------*/
/* Text  Styles*/
/* weights: 300 thin, 400 regular, 700 bold, 900 black */
/*----------------------------------------------*/
a {
  text-decoration: none;
  color: #71a333;
  transition: color 0.2s; }

a:hover {
  color: #a3d16b; }

.title {
  font-family: 'Hind';
  font-weight: 700;
  font-size: 2em;
  color: #606161;
  margin: 0px;
  display: inline-block;
  line-height: 1em; }

.title-leaderboard {
  color: #fff;
  margin-right: 15px; }

.section-headline {
  font-family: 'Lato';
  text-transform: uppercase;
  letter-spacing: 0.07em;
  display: block;
  margin-bottom: 0.3em;
  font-size: .9em; }

.section-headline__lighter {
  color: #90908c; }

.section-baseline {
  border-bottom: 1px solid #c6c7c7; }

.section-header {
  margin-top: 1em;
  margin-bottom: 0px; }

.section-header__light {
  display: inline;
  float: left;
  color: #fff;
  margin-top: 32px; }

.sub-head {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.6em;
  padding: 0.5em 0px 0.75em 0px;
  letter-spacing: 0.01em; }

.sub-descriptor {
  font-size: .8em; }

.dropdown-option {
  font-size: .8em;
  line-height: 2em; }

.header-style__plain {
  margin: 0 0 5px; }

.textbox {
  padding-bottom: 0.5em;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6em; }
  .textbox p {
    padding-bottom: 0.5em; }
  .textbox li {
    margin-bottom: 0.4em; }
  .textbox ol {
    margin-left: 20px; }

.checklist p:before {
  content: "";
  background: url("../graphics/checkbox.svg");
  opacity: 0.5;
  display: block;
  width: 14px;
  height: 14px;
  float: left;
  margin: 3px 7px 0 0; }

/*----------------------------------------------*/
/*Interactive Buttons*/
/*----------------------------------------------*/
.button {
  background-color: #22bdc1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  transition: active 0.25s;
  color: white;
  padding: 8px 14px 6px 14px;
  margin: 10px 8px 6px 0px;
  font-size: 0.8em;
  font-weight: 300;
  font-family: 'Lato';
  text-decoration: none;
  letter-spacing: 0.06em;
  transition-property: background;
  transition-duration: 0.12s;
  transition-timing-function: linear; }
  .button a {
    color: white; }
    .button a:hover {
      color: white; }
    .button a:visited {
      color: white; }

.btn-blue {
  background-color: #23bcc1;
  color: white; }
  .btn-blue:hover {
    background-color: #198a8d; }
  .btn-blue:active {
    background-color: #177d80; }
  .btn-blue:focus {
    background-color: #198a8d; }

.btn-grn {
  background-color: #8bc544;
  color: white; }
  .btn-grn:hover {
    background-color: #6b9c30; }
  .btn-grn:active {
    background-color: #63902d; }
  .btn-grn:focus {
    background-color: #6b9c30; }

.invert-btn-blue {
  background-color: transparent;
  border: 1px solid #23bcc1;
  color: #23bcc1; }
  .invert-btn-blue:hover {
    background-color: rgba(35, 188, 193, 0.2); }
  .invert-btn-blue:active {
    background-color: rgba(35, 188, 193, 0.2); }
  .invert-btn-blue:focus {
    background-color: rgba(35, 188, 193, 0.2); }
  .invert-btn-blue a {
    color: #23bcc1; }
    .invert-btn-blue a:hover {
      color: white; }
    .invert-btn-blue a:visited {
      color: #23bcc1; }

.invert-btn-grn {
  background-color: transparent;
  border: 1px solid #71a333;
  color: #71a333; }
  .invert-btn-grn:hover {
    background-color: #c5e2a1; }
  .invert-btn-grn:active {
    background-color: #c5e2a1; }
  .invert-btn-grn:focus {
    background-color: #c5e2a1; }
  .invert-btn-grn a {
    color: #71a333; }
    .invert-btn-grn a:hover {
      color: white; }
    .invert-btn-grn a:visited {
      color: #71a333; }

/*----------------------------------------------*/
/*Inputs*/
/*----------------------------------------------*/
input[type="text"] {
  box-sizing: none;
  font-family: 'lato';
  font-size: 0.9em;
  width: 180px;
  height: 24px;
  margin: none;
  color: #606161;
  border: 1px solid #c6c7c7;
  -webkit-border-radius: 5px 0px 0px 5px;
  background-color: white;
  margin-top: 20px;
  margin-right: 10px;
  padding: 2px 6px 2px 6px;
  outline: none;
  border-right: 0px; }
  input[type="text"]:focus {
    background-color: white; }

input[type='text']:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40px;
  content: "";
  border-radius: 5px 0px 0px 5px;
  background-color: blue;
  color: red; }

.search-bar-filled {
  box-sizing: none;
  font-family: 'lato';
  font-size: 0.9em;
  width: 120px;
  height: 24px;
  margin: none;
  color: #606161;
  border: 1px solid #c6c7c7;
  -webkit-border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  margin-right: 10px;
  padding: 2px 6px 2px 6px;
  position: relative;
  outline: none;
  display: inline-block; }

.search-bar-remove {
  position: absolute;
  height: 28px;
  width: 20px;
  top: 0;
  right: 0;
  border-left: 1px solid #c6c7c7;
  border-radius: 0px 4px 4px 0px;
  line-height: 18px;
  text-align: center;
  background-color: #efefef;
  transition: all 0.3s;
  cursor: pointer; }
  .search-bar-remove:hover {
    background-color: #23bcc1;
    color: white; }

/*
.search-bar-remove{
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: 700;
  font-size: 0.8em;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s;
  &:hover{
    background-color: lighten($darkgrey, 56);
  }
}
*/
.Add-hashtag {
  height: 28px;
  width: 28px;
  background-color: #23bcc1;
  border-radius: 2px;
  text-align: center;
  line-height: 33px;
  color: white;
  font-size: 1.4em;
  margin-bottom: 1px;
  vertical-align: bottom;
  display: inline-block; }

.search-bar-input-test {
  float: right;
  right: 20px; }
  .search-bar-input-test .search-bar-input {
    height: 30px; }
  @media screen and (max-width: 500px) {
    .search-bar-input-test .search-bar-side {
      left: 135px; } }
  @media screen and (max-width: 500px) {
    .search-bar-input-test input {
      width: 140px; } }

.search-bar-side {
  height: 30px;
  width: 30px;
  background-color: #23bcc1;
  position: absolute;
  left: 180px;
  top: 20px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer; }

.search-bar-hash {
  width: 70px;
  color: white;
  text-align: center;
  line-height: 28px;
  font-family: 'lato'; }

.search-glass {
  width: 16px;
  position: absolute;
  top: 6px;
  left: 7px; }

.search-bar-results {
  margin: 14px 10px 10px 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #c6c7c7;
  box-shadow: 0px 2px #dbdbda;
  width: 194px;
  background-color: white;
  position: relative; }
  .search-bar-results .descriptor {
    padding: 6px 0px 2px 10px; }
  .search-bar-results li {
    padding-top: 4px;
    padding-left: 18px;
    padding-bottom: 4px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
    line-height: 1.8em;
    vertical-align: center; }
    .search-bar-results li:hover {
      background-color: #e0eeee; }

.search-bar-hash-suggestions {
  width: 224px; }

.box-break {
  margin-top: 6px;
  width: 100%;
  height: 1px;
  background-color: #c6c7c7; }

.search-bar-results:after, .search-bar-results:before {
  bottom: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.search-bar-results:after {
  border-color: rgba(49, 213, 213, 0);
  border-bottom-color: white;
  border-width: 9px;
  margin-left: -11px; }

.search-bar-results:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c6c7c7;
  border-width: 10px;
  margin-left: -12px; }

/*----------------------------------------------*/
/*Tables*/
/*----------------------------------------------*/
table, th, td {
  border-collapse: collapse; }

th, td {
  padding: 0px 0px;
  text-align: left;
  line-height: 28px; }

tr {
  border-bottom: 1px solid #c6c7c7; }

tr:first-child {
  font-weight: 600; }

.Number-Stat {
  font-weight: 800;
  color: #22bdc1;
  letter-spacing: 0.04em; }

table {
  width: 300px; }

::-webkit-input-placeholder {
  color: #adadad; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #747676; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #747676; }

:-ms-input-placeholder {
  color: #747676; }

.fixedDataTableLayout_main {
  position: initial;
  height: 608px; }
  .fixedDataTableLayout_main .ScrollbarLayout_main {
    margin-top: 68px; }
  .fixedDataTableLayout_main .public_Scrollbar_main:hover {
    background-color: #2d2e2e; }
  .fixedDataTableLayout_main .public_Scrollbar_main:active {
    background-color: #2d2e2e; }

/*----------------------------------------------*/
/*Special Text, for data, etc.*/
/*----------------------------------------------*/
.descriptor {
  font-size: 0.8em;
  font-family: 'Lato';
  font-weight: 300;
  color: #939494; }

.emphasizedNumber {
  font-size: 2em;
  font-weight: 700;
  color: #22bdc1;
  line-height: 20px;
  margin-top: 2px; }

.emphasizedText {
  font-weight: 800;
  color: #22bdc1;
  display: inline-block;
  padding-left: 3px; }

.stats-text {
  line-height: 10px; }
  .stats-text p {
    padding-bottom: 10px;
    display: inline-block; }

.sub-text {
  font-size: 0.8em;
  font-family: 'Lato';
  font-style: italic;
  text-transform: lowercase; }

.text-right {
  text-align: right;
  display: block; }

.text-center {
  text-align: center;
  display: block; }

/*----------------------------------------------*/
/*Badge Styling.*/
/*----------------------------------------------*/
.badge-text {
  line-height: 20px; }
  .badge-text p {
    display: inline-block;
    padding-bottom: 6px; }

.badge-head {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.6em;
  padding: 0em 0px 0.25em 0px;
  letter-spacing: 0.01em; }

.badgehome {
  width: 100%;
  height: 160px;
  padding: 12px 0px 10px 0px; }

.badgeicon {
  position: relative;
  float: left;
  pointer-events: none; }

.badgetext {
  top: 10px;
  position: relative;
  float: right;
  height: 80px;
  width: 226px; }

.badgeheader {
  font-weight: 300;
  font-size: 1.4em; }

/*----------------------------------------------*/
/*Leaderboard*/
/*----------------------------------------------*/
.hashtag-title {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.6em;
  margin-left: 24px; }

#Leaderboard-Container {
  background-color: white;
  border: 1px solid #b3b3b3;
  font-size: 1.1em;
  width: 700px; }
  #Leaderboard-Container li {
    height: 37px;
    line-height: 41px;
    overflow: hidden; }
  #Leaderboard-Container li:nth-child(even) {
    background-color: #f4f4f4; }
  #Leaderboard-Container ul {
    margin: 0; }
  #Leaderboard-Container .LB-rank {
    width: 30px;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: 800; }
  #Leaderboard-Container .LB-name {
    width: 150px;
    padding-left: 3px;
    font-weight: 600; }
  #Leaderboard-Container .LB-stat {
    padding: 0px 12px;
    width: 60px;
    border-left: solid 1px #b3b3b3; }
  #Leaderboard-Container .LB-stat-time {
    width: 160px;
    padding: 0px 12px;
    border-left: solid 1px #b3b3b3; }
  #Leaderboard-Container .LB-red {
    background-color: #15b7b7; }
  #Leaderboard-Container .LB-blu {
    background-color: #bdcc32; }
  #Leaderboard-Container .LB-grn {
    background-color: #f37346; }
  #Leaderboard-Container .LB-name-red {
    color: #15b7b7; }
  #Leaderboard-Container .LB-name-blu {
    color: #bdcc32; }
  #Leaderboard-Container .LB-name-grn {
    color: #f37346; }

#Leaderboard-Header {
  width: 700px; }
  #Leaderboard-Header .LBH-Name {
    padding-left: 0px;
    padding-right: 92px; }
  #Leaderboard-Header .LBH-Stat {
    padding: 0px 12px;
    width: 60px; }
  #Leaderboard-Header .LBH-Time {
    padding-left: 13px; }

/*----------------------------------------------*/
/*Container Styles*/
/*----------------------------------------------*/
.sub-container {
  max-width: 460px;
  margin-bottom: 2em; }

.text-box {
  padding: 14px;
  width: 400px; }

.badge-box {
  padding: 14px;
  width: 400px;
  height: 100%; }

.line-break {
  margin-top: 4px;
  margin-bottom: 8px;
  height: 1px;
  width: 60%;
  background-color: #c6c7c7; }

.card {
  width: 100%;
  height: inherit;
  background-color: #FFF;
  border: 1px solid #c6c7c7;
  border-radius: 3px;
  margin-bottom: 1em; }

.competitor-cards-block {
  padding: 40px 0 50px; }

.competitor-cards {
  clear: both; }
  .competitor-cards .card {
    width: 26%;
    float: left;
    margin-right: 35px;
    padding: 10px 15px 10px;
    min-width: 262.859px;
    margin-bottom: 35px; }
    .competitor-cards .card .Card-title {
      text-align: center;
      font-weight: normal;
      font-size: 1em;
      padding: 5px 0 15px;
      margin: 0px; }
    .competitor-cards .card .card-main {
      padding: 30px 0 15px; }
    .competitor-cards .card .card-details {
      padding: 15px 10px 0px;
      border-top: 1px solid #dbdbda;
      margin: 0px 5px; }
      .competitor-cards .card .card-details .card-num {
        font-weight: 700; }
    .competitor-cards .card .sub-text {
      margin-top: 10px; }
  .competitor-cards .competitor1 .card-num {
    color: #bdcc32; }
  .competitor-cards .competitor2 .card-num {
    color: #15b7b7; }
  .competitor-cards .competitor3 .card-num {
    color: #f37346; }
  .competitor-cards .competitor-winner .card-num, .competitor-cards .competitor-winner .Card-title {
    font-weight: 800; }
  .competitor-cards .feature-num {
    text-align: center;
    font-size: 2.5em;
    display: block;
    line-height: 30px; }
  .competitor-cards .card-buildings {
    float: left;
    width: 54%;
    margin-right: 15px; }
  .competitor-cards .card:nth-child(3) {
    clear: right;
    margin-right: 0px; }

.more-options-container {
  float: right;
  width: 26px; }
  @media screen and (max-width: 368px) {
    .more-options-container {
      width: 48%; } }

.more-options-module, .LN-Hashtag-Container {
  position: absolute;
  border: 1px solid #c6c7c7;
  box-shadow: 0px 2px #dbdbda;
  background-color: white;
  border-radius: 3px;
  z-index: 5; }
  .more-options-module:before, .LN-Hashtag-Container:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c6c7c7;
    border-width: 10px;
    margin-left: -60px; }
  .more-options-module:after, .LN-Hashtag-Container:after {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(49, 213, 213, 0);
    border-bottom-color: white;
    border-width: 9px;
    margin-left: -59px; }

.more-options-module {
  width: 60px;
  padding: 6px 10px 4px;
  margin: 14px 10px 10px -8px; }
  @media screen and (max-width: 368px) {
    .more-options-module:before {
      margin-left: -25px; } }
  @media screen and (max-width: 368px) {
    .more-options-module:after {
      margin-left: -24px; } }

.LN-Hashtag-Container {
  left: 10;
  width: 270px;
  padding: 20px 15px 5px;
  margin: 14px 10px 10px 10px; }
  .LN-Hashtag-Container:before {
    margin-left: -240px; }
  .LN-Hashtag-Container:after {
    margin-left: -239px; }
  @media screen and (max-width: 411px) {
    .LN-Hashtag-Container {
      left: 5px; } }
  @media screen and (max-width: 320px) {
    .LN-Hashtag-Container {
      width: 80%; } }

.dropdown-details {
  padding: 18px 0 0;
  margin-top: 20px;
  border-top: 1px solid #dbdbda; }

.Card-title {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 2px;
  font-size: 1.4em;
  font-weight: 800;
  color: #BBB; }

.action-header {
  padding: 15px 0; }
  .action-header .sub-text {
    color: #c6c7c7;
    float: right; }

.header-spacer-multiple {
  padding-right: 10px; }

.refresh-page {
  background-image: url("../graphics/arrow-loop.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999em;
  float: right;
  width: 20px;
  height: 20px;
  padding-right: 5px;
  background-position-y: 3px; }

.Card-Content {
  padding: 20px;
  padding-top: 10px;
  word-wrap: break-word; }
  .Card-Content p {
    margin: 4px 0px; }

.more-options {
  text-indent: -9999px;
  background-image: url("../graphics/more-options.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: right;
  display: block; }

.tabbed-nav {
  clear: both;
  padding-top: 40px; }

.darker-card {
  margin-top: 1em;
  background-color: #c2c2c0;
  border: 1px solid #171717; }

.alt-container {
  width: 100%;
  background-color: #4a4a4a;
  padding-bottom: 100px; }
  .alt-container .title, .alt-container .sub-head, .alt-container .section-header, .alt-container .textbox {
    color: #dbdbda; }
  .alt-container .textbox {
    color: #90908c; }
  .alt-container ::selection {
    background: rgba(247, 224, 127, 0.1); }

.Data-card {
  position: relative;
  padding-bottom: 8px; }

.data-number {
  margin-bottom: 10px; }

.section-feature {
  background-color: #3d3d3d;
  padding: 45px 0 20px; }

.section-secondary {
  background-color: #171717;
  padding-bottom: 35px; }
  .section-secondary .section-headline {
    color: #fff; }

.section-leaderboard {
  background-color: #3d3d3d;
  padding: 35px 0; }

.row {
  position: relative;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px; }
  @media screen and (max-width: 320px) {
    .row {
      padding: 0 5px; } }

.tab-style {
  float: left;
  padding: 10px;
  margin-right: 15px; }

.active-tab {
  border-bottom: 3px solid #8bc544; }

.link-actionlink {
  margin-top: 10px;
  display: block; }
  @media screen and (max-width: 320px) {
    .link-actionlink {
      clear: both; } }

.Table-Container {
  margin-top: 50px; }
  .Table-Container a {
    color: #c6c7c7; }

/*----------------------------------------------*/
/*Events Styles*/
/*----------------------------------------------*/
.events-container {
  margin-top: 10px;
  background-color: #efefef; }

.event-top-section {
  height: 40px;
  background-color: #dbdbdb;
  padding: 0px 6px 8px 10px;
  border-radius: 2px 2px 0 0; }
  .event-top-section .sub-head {
    padding: 12px 0 0 0;
    float: left; }
  .event-top-section .btn-grn {
    margin: 7px 0 0 0;
    float: right;
    height: 18px;
    line-height: 16px; }

.event-details-left {
  padding: 18px 10px 0 12px;
  position: relative;
  float: left;
  border-right: solid 1px #dbdbda;
  height: 54px; }
  .event-details-left .emphasizedNumber {
    color: #606161; }

.event-sub-container {
  max-width: 420px;
  height: 120px;
  background-color: white;
  border-radius: 2px;
  margin-top: 1em;
  box-shadow: 0px 1px #dbdbda;
  border: 1px solid #c6c7c7; }

.event-details-right {
  position: relative;
  float: left;
  padding: 12px 0 0 10px; }
  .event-details-right p {
    padding: 0; }

/*--------
Leaderboard Styling
--------*/
.alt-darker {
  background-color: #303030; }

.temp-middle {
  height: 300px; }

.temp-bottom {
  height: 400px; }

.temp-footer {
  height: 200px; }

.push-down {
  padding-top: 70px; }

.footer-mm {
  height: 50px;
  width: 100%;
  line-height: 50px;
  color: #dbdbda;
  background-color: #303030;
  text-align: center; }

/*----------------------------------------------*/
/*               OLD STYLE                      */
/*                                              */
/*----------------------------------------------*/
/* In Context */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* Leaderboard Navigation Bar */
/*----------------------------------------------*/
/*.Leaderboard-Navbar-Container{
  width: 100%;
  background-color: $debug;
  height: 50px;
}

.LN-Hashtag-Container{
  width: 55%;
  height: 46px;
  margin: 2px;
  display: inline-block;
}*/
.LN-View-Navigation {
  width: 40%;
  height: 46px;
  margin: 2px;
  display: inline-block;
  float: right; }

.Current-Hashtag {
  height: 28px;
  background-color: white;
  margin: 9px;
  margin-right: 0px;
  border-radius: 4px;
  padding: 0px 24px 0px 10px;
  display: inline-block;
  line-height: 28px;
  position: relative; }

.Input-Hashtag {
  display: inline-block; }
  .Input-Hashtag input {
    border: 1px solid #dbdbda;
    box-sizing: none;
    height: 26px;
    margin: 0;
    color: #6e6f71;
    vertical-align: top;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #f4f4f4;
    outline: none; }
  .Input-Hashtag .search-bar-input {
    width: 250px; }
  .Input-Hashtag .search-bar-submit {
    background-color: #23bcc1;
    position: absolute;
    right: 4%;
    top: 20px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    color: #fff;
    width: 70px;
    height: 26px;
    Text-indent: -9999px;
    background-image: url("../graphics/submit.svg");
    background-repeat: no-repeat;
    background-position: center; }

.search-bar-submit:hover, .search-bar-side:hover {
  background-color: #1fa7ab; }

.search-bar-submit:visited, .search-bar-side:visited {
  background-color: #1fa7ab; }

.search-bar-suggestions {
  margin-top: 5px;
  position: absolute;
  background-color: #f4f4f4;
  width: 85%;
  font-size: .8em;
  border: #dbdbda; }
  .search-bar-suggestions li {
    color: #6e6f71;
    border-bottom: 1px solid #dbdbda;
    padding: 10px;
    display: block; }
    .search-bar-suggestions li:hover {
      background-color: #f9f9f9; }

.additional {
  padding: 0px 10px;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s ease-in 0s; }
  .additional:hover {
    background-color: #EEE; }

.killswitch {
  position: absolute;
  right: 4px;
  line-height: 1;
  font-size: 0.8em;
  font-weight: 800;
  cursor: pointer; }

.View-Toggle {
  width: 120px;
  height: 38px;
  margin: 10px;
  display: inline-block;
  line-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  float: right;
  background-color: #dbdbda;
  border-radius: 3px 3px 0px 0px;
  color: #6e6f71;
  cursor: pointer;
  transition: all 0.2s; }
  .View-Toggle:hover {
    background-color: #bdbdbd; }

.Search-text {
  position: absolute;
  top: 23px;
  right: 29px;
  color: white;
  font-size: 0.8em; }

/*----------------------------------------------*/
/* Leaderboard Left Panel */
/*----------------------------------------------*/
.Leaderboard-Stats-Container {
  width: 25.5%;
  display: inline-block;
  vertical-align: bottom;
  background-color: white;
  float: left;
  padding-top: 20px; }

.Hashtag-Timeline-Container {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.Hashtag-Timeline {
  margin-top: 20px;
  width: 200px;
  max-width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: black; }

.Stats-Content {
  width: 240px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; }

.Stats-Togglebox {
  margin-top: 10px;
  width: 100%;
  height: 30px; }

.Stats-Statbox {
  width: 100%;
  margin-top: 10px; }

/*----------------------------------------------*/
/* Toggle Switch */
/*----------------------------------------------*/
.onoffswitch, .onoffswitch2, .onoffswitch3 {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  margin-left: 6px; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #CCC;
  border-radius: 5px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 10px;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "";
  padding-left: 5px;
  background-color: #EEEEEE; }

.onoffswitch-inner:after {
  content: "";
  padding-right: 5px;
  background-color: #EEEEEE;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 14px;
  margin: 4px;
  background: #9dcf80;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  border: 1px solid #444;
  box-shadow: 0px 0px 1px #000;
  border-radius: 5px;
  transition: all 0.1s ease-in 0s; }

.hashtag2 {
  background: #1E9FCC; }

.hashtag3 {
  background: #EA6957; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #999; }

/*----------------------------------------------*/
/* Leaderboard Right Panels */
/*----------------------------------------------*/
.Leaderboard-Container {
  width: 74.5%;
  display: inline-block;
  float: right;
  background-color: #dbdbda; }

.Leaderboard-1 {
  vertical-align: bottom;
  width: 33.33%;
  height: 100%;
  display: inline-block; }

.Leaderboard-2 {
  vertical-align: bottom;
  width: 50%;
  height: 100%;
  display: inline-block; }

.Hashtag-Container {
  margin: 20px 40px; }

.Hashtag-Container-Split {
  margin: 20px 14px; }

.roll-error {
  text-align: center; }

.hash-card {
  padding: 20px;
  padding-bottom: 40px;
  width: auto; }

.card-hack {
  background-color: #fff;
  padding: 15px; }

.table-username {
  font-weight: 600;
  font-family: Hind;
  margin-top: 1px;
  margin-left: 4px; }
  .table-username a {
    color: #3bd6dc;
    transition: color 0.2s; }
    .table-username a:hover {
      color: #a3d16b; }

.blueteam-name a {
  color: #cbd75a;
  transition: color 0.2s; }
  .blueteam-name a:hover {
    color: #97a328; }

.redteam-name a {
  color: #1ae5e5;
  transition: color 0.2s; }
  .redteam-name a:hover {
    color: #108989; }

.greenteam-name a {
  color: #f69776;
  transition: color 0.2s; }
  .greenteam-name a:hover {
    color: #f04f16; }

.testme {
  display: inline-block; }

#MapContainer {
  width: 100%;
  min-width: 300px;
  padding: 35px 0 3em 0;
  background-color: #3d3d3d; }

.MapContent {
  width: 94%;
  height: 84%;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto; }

#map {
  width: 100%;
  height: 100%;
  box-shadow: 1px 2px 1px rgba(55, 55, 55, 0.1); }

.Map-Subtext {
  float: right;
  padding-top: 0.5em;
  color: #dbdbda;
  font-size: 0.9em; }

.Comparison-Block {
  clear: both;
  margin: 10px 0; }

.comparison-card {
  width: 100%;
  margin: 20px 0;
  position: relative;
  height: 10px; }

.comparison-number {
  size: 1.2em;
  width: 19%;
  min-width: 80px;
  float: left; }
  @media screen and (max-width: 900px) {
    .comparison-number {
      width: 20%; } }
  @media screen and (max-width: 750px) {
    .comparison-number {
      width: 24%; } }
  @media screen and (max-width: 650px) {
    .comparison-number {
      width: 26%; } }
  @media screen and (max-width: 580px) {
    .comparison-number {
      width: 30%; } }
  @media screen and (max-width: 525px) {
    .comparison-number {
      width: 34%; } }
  @media screen and (max-width: 500px) {
    .comparison-number {
      width: 50%; } }

.comparison-bar-container {
  width: 80%;
  float: right;
  min-height: 22px; }
  .comparison-bar-container .redteam {
    background-color: #15b7b7; }
  .comparison-bar-container .blueteam {
    background-color: #bdcc32; }
  .comparison-bar-container .greenteam {
    background-color: #f37346; }
  @media screen and (max-width: 800px) {
    .comparison-bar-container {
      width: 76%; } }
  @media screen and (max-width: 750px) {
    .comparison-bar-container {
      width: 74%; } }
  @media screen and (max-width: 690px) {
    .comparison-bar-container {
      width: 72%; } }
  @media screen and (max-width: 580px) {
    .comparison-bar-container {
      width: 68%; } }
  @media screen and (max-width: 525px) {
    .comparison-bar-container {
      width: 64%; } }
  @media screen and (max-width: 500px) {
    .comparison-bar-container {
      width: 50%; } }

.redteam-proj {
  color: #15b7b7; }

.blueteam-proj {
  color: #bdcc32; }

.greenteam-proj {
  color: #f37346; }

.comparison-bar {
  height: 3px;
  margin-top: 8px; }
