/* In Context */
/*----------------------------------------------*/
/*----------------------------------------------*/
/*                    Base                      */
/*                                              */
/*----------------------------------------------*/
body, ul, li {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  color: #6e6f71; }

ul, li {
  list-style: none; }

li {
  display: inline-block; }

th, td {
  padding: 5px 0px;
  border-bottom: 1px solid #bbbcbd;
  text-align: left; }

.center-text {
  text-align: center; }

.lt-ie10 #site-canvas {
  display: none; }

.lt-ie10 #nocando {
  margin: 200px auto;
  padding: 32px;
  max-width: 440px;
  background: #fff; }
  .lt-ie10 #nocando h1 {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 32px; }

::-moz-selection {
  /* Code for Firefox */
  background: #9dcf80; }

::selection {
  background: #e0e0df; }

.site-canvas {
  z-index: -1; }

/*----------------------------------------------*/
/*                  Base: ;                     */
/*                                              */
/*                  Text                        */
/* weights: 300 thin, 400 regular, 700 bold, 900 black */
/*----------------------------------------------*/
h1 {
  font-weight: 500;
  display: inline; }

a {
  text-decoration: none;
  color: #6e6f71; }
  a:hover {
    color: #b6b6b6; }
  a:focus {
    color: #b6b6b6; }

.titleheader {
  font-weight: 900;
  font-size: 2em;
  color: #6e6f71; }

.sub-head {
  font-weight: 400;
  font-size: 1.4em;
  padding: 2px 0px 8px 0px;
  color: #6e6f71; }

.textbox {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4; }

/*----------------------------------------------*/
/*Nav Bar Style & Footer*/
/*----------------------------------------------*/
#header {
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  min-height: 50px;
  color: #dbdbda;
  display: none;
  border-bottom: 2px #dbdbda solid; }
  #header ul {
    display: inline-block; }
  #header li {
    display: inline-block;
    margin: 0px; }
  #header focus {
    outline: none; }

.headerwidth {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

header {
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  min-height: 50px;
  color: #dbdbda;
  border-bottom: 2px #dbdbda solid;
  z-index: 100; }

.footer-container {
  padding-top: 24px;
  background-color: #efefef;
  width: 100%; }
  .footer-container .sectionheader {
    padding-bottom: 36px; }

.footer-mm {
  margin-top: 32px;
  height: 30px;
  width: 100%;
  line-height: 32px;
  color: white;
  background-color: #595a5a; }

.nav-icon {
  padding-left: 8px;
  padding-top: 7px;
  float: left; }
  @media screen and (max-width: 700px) {
    .nav-icon {
      display: block;
      width: 100%; }
      .nav-icon img {
        margin-top: 4px; } }

.nav-list {
  float: right;
  position: relative;
  margin-top: 18px;
  display: inline-block; }
  @media screen and (max-width: 700px) {
    .nav-list {
      display: block;
      width: 100%;
      margin: 0px auto 0px auto;
      text-align: center; } }

.nav-input {
  float: right;
  display: inline-block;
  position: relative;
  bottom: 3px;
  padding: 0px 16px 0px 40px; }
  @media screen and (max-width: 700px) {
    .nav-input {
      display: block;
      width: 100%;
      top: 14px;
      padding-bottom: 10px; } }

.nav-item {
  padding: 0px 10px 0px 10px; }

.nav-links {
  float: center; }

/*----------------------------------------------*/
/*Interactive Buttons*/
/*----------------------------------------------*/
input[type="text"] {
  border: 0px solid #dbdbda;
  box-sizing: none;
  width: auto;
  height: auto;
  margin: none;
  color: #6e6f71;
  -webkit-border-radius: 5px;
  background-color: #f4f4f4;
  box-shadow: -1px -2px #dbdbda;
  padding: 2px 6px 4px 6px;
  outline: none; }
  input[type="text"]:focus {
    background-color: white; }

.button {
  background-color: #9dcf80;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 6px;
  border: 0px;
  /*  border:1px solid $darkgreen;
*/
  box-shadow: 0px 2px #38803D;
  display: inline-block;
  cursor: pointer;
  transition: active 0.25s;
  color: #ffffff;
  padding: 6px 10px;
  text-decoration: none; }
  .button:hover {
    background-color: #72ba48; }
  .button:active {
    position: relative;
    background-color: #9dcf80;
    box-shadow: none; }
  .button:focus {
    background-color: #8fc86d;
    padding: 4px 8px;
    border: 2px solid #c8e4b8; }
  .button a {
    text-decoration: none;
    color: white; }
    .button a:hover {
      color: white; }
    .button a:visited {
      color: white; }

::-webkit-input-placeholder {
  color: #bbbcbd; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #828386; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #828386; }

:-ms-input-placeholder {
  color: #828386; }

/*----------------------------------------------*/
/*              Overview Styles   */
/*               Navigation Bar   */
/*----------------------------------------------*/
#Subhead-Container {
  background-color: white;
  height: 150px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

#Subhead-Content {
  position: absolute;
  top: 20px;
  max-width: 1100px;
  width: 100%; }

.Username {
  display: inline-block;
  position: absolute;
  top: 90px;
  padding-left: 14px; }
  .Username p {
    font-size: 0.5em;
    color: #6e6f71;
    font-weight: 300;
    margin: 0;
    margin-top: 6px; }

.ProfilePicture {
  z-index: 100;
  display: inline-block;
  padding-top: 50px;
  padding-left: 32px; }
  @media screen and (max-width: 1100px) {
    .ProfilePicture {
      margin-left: auto;
      margin-right: auto; } }

.Subhead-Nav {
  float: right;
  padding-right: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 95px;
  background-color: white; }
  .Subhead-Nav a {
    padding: 16px 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #DDD;
    border-bottom: 0px; }
    .Subhead-Nav a:hover {
      background-color: #DDD;
      color: #999; }
  .Subhead-Nav .activeLink {
    border: none;
    background-color: #eee; }
  @media screen and (max-width: 700px) {
    .Subhead-Nav {
      top: 125px;
      right: auto;
      left: 53.1%;
      transform: translate(-50%, 0);
      margin-left: auto;
      margin-right: auto; } }

/*----------------------------------------------*/
/*              Overview Styles   */
/*                 Containers      */
/*----------------------------------------------*/
#Page-Container {
  width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEE; }

#Main-User-Container {
  position: relative;
  margin-left: 20px;
  margin-right: 20px; }
  @media screen and (max-width: 1100px) {
    #Main-User-Container {
      height: auto; } }

.white {
  background-color: white;
  width: 100%;
  position: absolute;
  height: 150px; }

.Recent-Badges-Container {
  position: absolute;
  max-width: 584px;
  min-width: 300px;
  margin: 20px 24px; }
  @media screen and (max-width: 1100px) {
    .Recent-Badges-Container {
      position: relative;
      margin: 50px 10px 0px 10px;
      max-width: 75%;
      margin-left: auto;
      margin-right: auto; } }

.Quick-User-Stats-Container {
  position: absolute;
  width: 430px;
  height: 384px;
  right: 0px;
  margin: 20px 24px; }
  @media screen and (max-width: 1100px) {
    .Quick-User-Stats-Container {
      position: relative;
      width: 75%;
      margin-left: auto;
      margin-right: auto; } }

.Quick-User-Stats-Content {
  border: solid 1px #CCC;
  box-shadow: 1px 2px 1px rgba(55, 55, 55, 0.1);
  width: 100%;
  height: 374px;
  font-weight: 300;
  padding-top: 10px;
  background-color: white; }
  .Quick-User-Stats-Content h1 {
    font-size: 2.5em;
    display: inline; }
  .Quick-User-Stats-Content h2 {
    font-size: 1.4em;
    font-weight: 300;
    margin: 0px;
    display: inline;
    float: right;
    line-height: 2.8; }
  .Quick-User-Stats-Content p {
    font-size: 1.4em;
    margin: 0px;
    margin-bottom: 8px; }
    .Quick-User-Stats-Content p b {
      font-size: 1em;
      font-weight: 300;
      float: right; }

.Quick-User-Stats-Block {
  width: 90%;
  border: solid 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 20px;
  padding-left: 30px; }

.Contribute-Timeline-Container {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  height: 180px; }

.Contribute-Timeline-Content {
  background-color: white;
  height: 130px; }
  .Contribute-Timeline-Content.tall {
    height: 155px; }

.Move-over {
  margin-top: 20px;
  margin-left: 40px; }

/*----------------------------------------------*/
/*              Overview Styles     */
/*                  Text            */
/*----------------------------------------------*/
.Block-header {
  padding-top: 14px;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 1.4em; }

.Badge-Roll {
  position: relative;
  display: inline; }
  .Badge-Roll li {
    padding: 8px; }

/*----------------------------------------------*/
/*              Overview Styles   */
/*                  Text            */
/*----------------------------------------------*/
/*.hashtag-title{
  font-weight: 900;
  font-size: 1.8em;
}

.user-roll{
  width: 240px;
  li{
    padding-bottom:4px;
  }
}

.usertot{
  font-weight: 700;
  font-size: 1em;
  color: $darkestgrey;
  position: relative;
  display: inline-block;
  float: right;
}
*/
/*----------------------------------------------*/
/*Container Styles*/
/*----------------------------------------------*/
.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.sub-container {
  border: #dbdbda solid 1px; }

.sectionheader {
  padding-bottom: 32px; }

.text-box {
  padding: 14px;
  width: 400px; }

.badge-box {
  padding: 14px;
  width: 400px;
  height: 100%; }

.badgeroll-frame {
  width: 100%; }
  @media screen and (max-width: 630px) {
    .badgeroll-frame {
      text-align: center; } }

.badgeroll-center {
  max-width: 832px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1101px) {
    .badgeroll-center {
      max-width: 400px; } }
  @media screen and (max-width: 600px) {
    .badgeroll-center {
      padding: 0px; } }

/*----------------------------------------------*/
/*FullStats Sytling*/
/*----------------------------------------------*/
#Recent-Container {
  width: 500px;
  max-width: 90%;
  height: 275px;
  margin: 20px;
  padding: 0px;
  display: inline-block;
  margin: 20px; }
  @media screen and (max-width: 100px) {
    #Recent-Container {
      margin-left: auto;
      margin-right: auto; } }

#Next-Container {
  width: 500px;
  height: 240px;
  padding: 0px;
  display: inline-block;
  margin: 20px; }
  @media screen and (max-width: 100px) {
    #Next-Container {
      margin-left: auto;
      margin-right: auto; } }

.Badge-Box-Content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .Badge-Box-Content.front {
    text-align: center; }

#Badge-Container {
  max-width: 100%;
  min-width: 300px;
  padding-top: 30px; }
  @media screen and (max-width: 1100px) {
    #Badge-Container {
      position: relative;
      margin: 50px 10px 0px 10px;
      max-width: 75%;
      margin-left: auto;
      margin-right: auto; } }

#Stats-Container {
  width: 1040px;
  max-width: 100%;
  padding: 0px;
  margin: 20px;
  display: inline-block; }
  @media screen and (max-width: 1134px) {
    #Stats-Container {
      max-width: 95%; } }
  @media screen and (max-width: 600px) {
    #Stats-Container {
      max-width: 90%; } }

/*----------------------------------------------*/
/* Card Styling */
/*----------------------------------------------*/
.card {
  width: 100%;
  height: inherit;
  background-color: #FFF;
  border: 1px solid #BBB;
  border-radius: 6px;
  box-shadow: 0px 2px 3px lightgrey; }

.Card-title {
  width: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 2px;
  font-size: 1.4em;
  font-weight: 800;
  color: #BBB; }

.Card-Content {
  padding: 20px;
  padding-top: 10px;
  word-wrap: break-word; }
  .Card-Content p {
    margin: 4px 0px; }

.Card-Left {
  width: 49%;
  float: left; }

.Card-Right {
  width: 47%;
  float: right;
  text-align: center; }
  .Card-Right img {
    padding-top: 10px; }

.Card-Badge-Name {
  position: relative;
  padding-top: 10px; }

h3 {
  margin: 4px 0px 8px;
  font-size: 2em; }

.Card-Section-Title {
  font-weight: 300;
  border-bottom: 1px solid #d5d5d6;
  margin-bottom: 2px;
  display: inline-block; }

.Card-Textbox {
  padding-bottom: 4px; }

.Split-3 {
  width: 33.3%;
  height: 200px;
  /*  background-color: rgba(0,0,0,0.1);
*/
  display: inline-block;
  vertical-align: top; }

table {
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  /*  tr:nth-child(even) {
  }
  tr:nth-child(odd) {
     background-color: #EEE;
  }*/ }

.Search-Container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  background-color: #EEE; }

.search-bar-wrapper {
  width: 340px;
  margin-left: auto;
  margin-right: auto; }

.Search-Box {
  position: absolute;
  top: 160px;
  width: 100%; }
  .Search-Box input {
    margin-right: 20px;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    padding-left: 10px;
    font-family: "lato";
    font-size: 1em;
    background-color: white; }
    .Search-Box input.search-bar-submit {
      width: 100px;
      border-radius: 4px;
      padding-left: 0px;
      background-color: #f4f4f4;
      border: 1px solid #dbdbda;
      color: #6e6f71;
      outline: none;
      transition: background-color 0.1s; }
      .Search-Box input.search-bar-submit:active {
        background-color: white; }
  .Search-Box img {
    padding-bottom: 40px; }

.Search-Content {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.search-bar-suggestions {
  text-align: left;
  margin-top: 10px; }
  .search-bar-suggestions li {
    margin-top: 4px;
    padding: 4px;
    display: block;
    width: 194px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #f4f4f4; }
    .search-bar-suggestions li:hover {
      background-color: white; }

.Pie-Tin {
  text-align: center;
  margin: 10px 0px;
  font-family: 'Lato', sans-serif; }

.ChartControls {
  font-family: 'Lato', sans-serif;
  text-align: center; }
  .ChartControls input {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid 1px;
    border-radius: 2px;
    background-color: #dbdbda;
    border: 1px solid #87888b; }
    .ChartControls input:active {
      background-color: white;
      border-color: #a1a2a4; }
    .ChartControls input:focus {
      outline: none; }
    .ChartControls input:hover {
      background-color: #fefefe;
      border-color: #aeafb0; }

.next-badge-overlay {
  position: absolute;
  font-size: 2em;
  font-weight: 800;
  color: white; }

.next-badge-overlay {
  height: auto;
  margin: auto;
  text-align: center;
  position: relative; }

.nextBadgeHome {
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .nextBadgeHome p {
    top: 36px;
    left: 38px;
    position: absolute; }

/*----------------------------------------------*/
/* Leaderboard Navigation Bar */
/*----------------------------------------------*/
.Leaderboard-Navbar-Container {
  width: 100%;
  background-color: white;
  padding-top: 52px;
  height: 50px; }

.LN-Hashtag-Container {
  width: 55%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 46px;
  margin: 2px;
  display: inline-block; }

.LN-View-Navigation {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 46px;
  margin: 2px;
  display: inline-block;
  float: right; }

/*----------------------------------------------*/
/* Leaderboard Left Panel */
/*----------------------------------------------*/
.Leaderboard-Stats-Container {
  width: 25.5%;
  height: 500px;
  background-color: green;
  display: inline-block;
  vertical-align: bottom; }

.Hashtag-Timeline-Container {
  width: 100%;
  height: 300px; }

.Hashtag-Timeline {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: black; }

.Stats-Content {
  width: 200px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.Stats-Togglebox {
  width: 100%;
  height: 30px;
  background-color: white; }

/*----------------------------------------------*/
/* Toggle Switch */
/*----------------------------------------------*/
.onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  margin-left: 6px; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 5px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 10px;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "";
  padding-left: 5px;
  background-color: #EEEEEE; }

.onoffswitch-inner:after {
  content: "";
  padding-right: 5px;
  background-color: #EEEEEE;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 12px;
  margin: 4px;
  background: #A1A1A1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  border: 2px  solid #999999;
  border-radius: 5px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #27A1CA; }

/*----------------------------------------------*/
/* Leaderboard Right Panels */
/*----------------------------------------------*/
.Leaderboard-Container {
  width: 74.5%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block; }

.Leaderboard-1 {
  vertical-align: bottom;
  width: 33.33%;
  height: 100%;
  background-color: blue;
  display: inline-block; }

.Leaderboard-2 {
  vertical-align: bottom;
  width: 50%;
  height: 100%;
  background-color: blue;
  display: inline-block; }

.Hashtag-Container {
  padding-top: 20px;
  text-align: center;
  color: black;
  font-weight: 700; }
