.LB-header-descriptor {
  font-size: 0.8em;
  font-weight: 400;
  color: #939494;
  border-bottom: none;
}

.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #f6f7f8;
    background-image: none;
}

/*main table*/
.fixedDataTableLayout_main {
    border-style: none;
    font-family: 'Lato';
    color: #eee;
    font-weight: 300;
}

.public_fixedDataTableRow_main {
  border-bottom: 1px solid #999;
}

.public_fixedDataTable_header {
  border-bottom: none;
}

.fixedDataTableCellLayout_main {
    border-right-style: none;
}

.public_fixedDataTableRow_highlighted,
.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
   background-color: rgb(59,59,59) !important;
}

.public_fixedDataTableRow_main,
.public_fixedDataTableRow_main .public_fixedDataTableCell_main
 {
   background-color: rgb(59,59,59) !important;
}

a {
  cursor: pointer;
}

.rankCell {
    color: white;
    font-weight: 800;
}

.statsCell {
  
}

.blueteam {
  background-color: #22bdc1;
}

.redteam {
  background-color: #f26c59;
}

.greenteam {
  background-color: #8bc544;
}

.search-bar-input-test {
    position: relative;
}

input[type="text"] {
    box-sizing: none;
    font-family: 'lato';
    font-size: 0.9em;
    width: 180px;
    height: 24px;
    margin: none;
    color: #606161;
    border: 1px solid #c6c7c7;
    -webkit-border-radius: 5px 0px 0px 5px;
    background-color: white;
    margin-top: 20px;
    margin-right: 10px;
    padding: 2px 6px 2px 6px;
    outline: none;
    border-right: 0px;
}

.search-bar-side {
    height: 30px;
    width: 30px;
    background-color: #23bcc1;
    position: absolute;
    left: 180px;
    top: 20px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.search-glass {
    width: 16px;
    position: absolute;
    top: 5px;
    left: 9px;
    color: #eee;
}